HELP.md
target/
generatedata/.mvn/wrapper/maven-wrapper.jar
generatedata/.mvn/wrapper/maven-wrapper.properties
generatedata/mvnw
MigrationMonitoringTool/.mvn/wrapper/maven-wrapper.jar
MigrationMonitoringTool/.mvn/wrapper/maven-wrapper.properties
MigrationMonitoringTool/mvnw
mvnw.cmd
generatedata/src/test/
MigrationMonitoringTool/src/test
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.gitignore
db
application.local.properties
*.log
mmt.log*
*.db